@model CatalogoApp.Domain.Models.Item

@{
    ViewData["Title"] = "Agregar Juego";
}

<div class="container mt-5">

    <div class="card tarjeta-formulario">

        <div class="card-body">

            <h1 class="mb-4">
                Agregar Juego
            </h1>

            <form asp-action="Agregar" method="post">

                <input asp-for="Nombre"
                       class="form-control mb-3"
                       placeholder="Nombre del juego" />

                <input asp-for="Desarrollador"
                       class="form-control mb-3"
                       placeholder="Desarrollador (opcional)" />

                <input asp-for="Genero"
                       class="form-control mb-3"
                       placeholder="Genero (opcional)" />

                <input asp-for="Ano"
                       class="form-control mb-3"
                       placeholder="Año (opcional)" />

                <textarea asp-for="Descripcion"
                          class="form-control mb-3"
                          placeholder="Descripcion">
                </textarea>

                <input asp-for="ImagenUrl"
                       class="form-control mb-3"
                       placeholder="URL de imagen (opcional)" />

                <input asp-for="Plataforma"
                       class="form-control mb-3"
                       placeholder="Plataforma" />

                <input asp-for="Duracion"
                       class="form-control mb-3"
                       placeholder="Duracion" />

                <input asp-for="Clasificacion"
                       class="form-control mb-4"
                       placeholder="Clasificacion" />

                <button type="submit"
                        class="btn btn-ps">

                    Guardar Juego

                </button>

            </form>

        </div>

    </div>

</div>